.preview-container {
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: #d8d8d8;
    display: grid;
    // box-shadow: inset 28px 28px 6px 0 rgba(0, 0, 0, 0.4);
    grid-template-columns: 27px 65px 172px 122px 172px 64px 27px;
    grid-template-rows: 27px 68px 93px 139px 207px 69px 27px;

    .checkerboard-svg {
        grid-column: 2/-2;
        grid-row: 2/-2;
        background-image: url("../../assets/imgs/checkerboard.svg");
    }
    .shirt-svg {
        grid-column: 3/-3;
        grid-row: 3/-3;
        background-image: url("../../assets/imgs/shirt.svg");
    }
    .logo-svg {
        grid-column: 4/5;
        grid-row: 4/5;
        width: 122px;
        height: 139px;
    }
    img {
        width: 50px;
        height: 50px;
    }
    // #rg-hexagon {
    //     fill: yellow;
    // }
}
