.App {
    width: 1440px;
    display: grid;
    grid-template-columns: 160px 458px 27px 649px 146px;
    grid-template-rows: 197px 1fr 197px;
    background-image: radial-gradient(circle at 100% 0, #3d0088, #220045 99%);
}
